body{
    background-color: black;
}
div{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    border: 20px yellow solid;
    border-top: 20px red solid;
    border-radius: 50% ;
    display: flex;
    animation-name:div;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
 @keyframes div{
    from{
        transform:rotate(0deg)  ;
    }
    to{
        transform:rotate(360deg)
    }
 }  
