/* h1{
    color: rgb(58, 61, 156);}
button{
    background-color:rgb(178, 231, 98);
    color: blue;
}
body{
    background-color:rgb(25, 0, 166)
} */


/* body{
    color: black;
    background-color: black
}
#div1{
    margin: 50px;
    background-color: aquamarine;
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    border-radius: 50%;
    text-decoration: dashed;
    font-weight:bold;
    border: 10px royalblue solid;
    width: 200px;
}
#div2{
    margin: 50px;
    background-color: rgb(226, 244, 36);
    padding: 50px;
    font-size: xx-large;
    text-align:center;
    border-radius: 50%;
    font-weight:bold;
    border: 10px royalblue solid;
    width: 200px;
    
}
#div3{
    margin: 50px;
    background-color: rgb(238, 95, 64);
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    border-radius: 50%;
    font-weight:bold;
    border: 10px royalblue solid;
    width: 200px;
    
} */














