/* QUESTION 1  */
#box{ 
    background-color: blue;
    color: aliceblue;
} */


/* QUESTION 2  */
.heading{
    color: red;
    background-color: black;
}
body {
    background-color:grey;
}


 /* QUESTION 3  */
#button{
    color:whitesmoke;
    background-color:green;
}

