body{
    background-color:darkslateblue;
} 
.container {
    background-color: brown;
    display: flex;
    justify-content:space-evenly  ;
      
}
a{
    text-decoration: none;
    background-color: burlywood;
}
li{
   list-style-type: none;
   background-color: blanchedalmond;
}

















































